* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navbar {
  padding: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid;
  flex-direction: row;
  font-weight: 900;
  position: fixed;
  left: 1rem;
  right: 1rem;
  top: 1rem;
}

.navbar-nav-items {
  display: flex;
  gap: 1rem;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; 
}

li#nav-list,
li#nav-add,
li#nav-contact {
  cursor: pointer;
}
.books-display {
  border: 3px solid;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5em;
}

.header h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 950;
  margin: 1rem;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.add-book-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#form-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.1rem;
}

form input {
  width: 20rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid;
}

.remove-btn {
  padding: 5px;
}

button.add-btn {
  font-size: 1rem;
  padding: 5px;
  justify-self: end;
}

.books-detail div {
  display: flex;
  justify-content: space-between;
  background-color: #dcdcdc;
  padding: 0.5rem;
}

.books-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
