* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.books-display {
  border: 5px solid;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5em;
}

.header h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 950;
  margin: 1rem;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.add-book-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.books-detail div {
  display: flex;
  justify-content: space-between;
  background-color: #dcdcdc;
  padding: 0.5rem;
}

.books-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
